<!DOCTYPE HTML>
<head>
    <title>Лицей №2</title>
</head>
<body>
    <h1>Вас приветствует будущий сайт Лицея №2</h1>
    <p>Ваши идеи и предложения в тг: @justLawre</p>
    <table>
        <caption>Расписание звонков</caption>
           <tr>
               <th>Понедельник</th>
               <th>Вторник-Пятница</th>
               <th>Суббота</th>
           </tr>
        <tr>
            <td>8:00-8:30</td>
            <td>8:00-8:40</td>
            <td>8:00-8:40</td>
        </tr>

    </table>
</body>

