{% extends "base.html" %}

{% block content %}
<table border="1">
    <caption>Расписание звонков</caption>
       <tr>
           <th>№</th>
           <th>Понедельник</th>
           <th>Вторник-Пятница</th>
           <th>Суббота</th>
       </tr>
    <tr>
        <th>0</th>
        <td>08:00-08:30,  5мин</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>1</th>
        <td>08:35-09:15, 15мин</td>
        <td>08:00-08:40, 10мин</td>
        <td>08:00-08:40,  5мин</td>
    </tr>
    <tr>
        <th>2</th>
        <td>09:30-10:10, 20мин</td>
        <td>08:50-09:30, 15мин</td>
        <td>08:45-09:25, 15мин</td>
    </tr>
    <tr>
        <th>3</th>
        <td>10:30-11:10, 15мин</td>
        <td>09:45-10:25, 20мин</td>
        <td>09:40-10:20, 15мин</td>
    </tr>
    <tr>
        <th>4</th>
        <td>11:25-12:05, 10мин</td>
        <td>10:45-11:25, 15мин</td>
        <td>10:35-11:15, 10мин</td>
    </tr>
    <tr>
        <th>5</th>
        <td>12:15-12:25, 10мин</td>
        <td>11:40-12:20, 10мин</td>
        <td>11:25-12:05,  5мин</td>
    </tr>
    <tr>
        <th>6</th>
        <td>13:05-13:45, 10мин</td>
        <td>12:30-13:10, 10мин</td>
        <td>12:15-12:55</td>
    </tr>
    <tr>
        <th>7</th>
        <td>13:55-14:35,  5мин</td>
        <td>13:20-14:00,  5мин</td>
        <td></td>
    </tr>
     <tr>
        <th>8</th>
        <td>14:40-15:20</td>
        <td>14:05-14:45</td>
        <td></td>
    </tr>
</table>
{% endblock %}