{% extends "base.html" %}

{% block body %}
<table border="1" class="table">
    <caption>Расписание звонков</caption>
    <thead>
       <tr>
           <th scope="col">№</th>
           {% if state == 0 %}
            <th scope="col">Понедельник</th>
           {% elif state in (1, 2, 3, 4, 5) %}
               <th scope="col">Вторник-Пятница</th>
           {% else %}
               <th scope="col">Суббота</th>
           {% endif %}
       </tr>
   </thead>
    {% for duration, change in timetable_data %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td class="timetable">{{ duration }},  {{ change }} мин.</td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
