{% extends "base.html" %}

{% block body %}
<table border="1" class="table">
    <caption>Расписание звонков</caption>
    <thead>
       <tr>
           <th scope="col">№</th>
           {% if state == 0 %}
            <th scope="col">Понедельник</th>
           {% elif state in (1, 2, 3, 4, 5) %}
               <th scope="col">Вторник-Пятница</th>
           {% else %}
               <th scope="col">Суббота</th>
           {% endif %}
       </tr>
   </thead>
    <tr>
        <th scope="row">0</th>
       {% if state == 0 %}
        <td class="timetable">08:00-08:30,  5мин</td>
       {% elif state in (1, 2, 3, 4, 5) %}
        <td class="timetable"></td>
       {% else %}
        <td class="timetable"></td>
       {% endif %}
    </tr>
    <tr>
        <th scope="row">1</th>
       {% if state == 0 %}
        <td>08:35-09:15, 15мин</td>
       {% elif state in (1, 2, 3, 4, 5) %}
        <td>08:00-08:40, 10мин</td>
       {% else %}
        <td>08:00-08:40,  5мин</td>
       {% endif %}
    </tr>
    <tr>
        <th scope="row">2</th>
       {% if state == 0 %}
        <td>09:30-10:10, 20мин</td>
       {% elif state in (1, 2, 3, 4, 5) %}
        <td>08:50-09:30, 15мин</td>
       {% else %}
        <td>08:45-09:25, 15мин</td>
       {% endif %}
    </tr>
    <tr>
        <th scope="row">3</th>
       {% if state == 0 %}
        <td>10:30-11:10, 15мин</td>
       {% elif state in (1, 2, 3, 4, 5) %}
        <td>09:45-10:25, 20мин</td>
       {% else %}
        <td>09:40-10:20, 15мин</td>
       {% endif %}
    </tr>
    <tr>
        <th scope="row">4</th>
       {% if state == 0 %}
        <td>11:25-12:05, 10мин</td>
       {% elif state in (1, 2, 3, 4, 5) %}
        <td>10:45-11:25, 15мин</td>
       {% else %}
        <td>10:35-11:15, 10мин</td>
       {% endif %}
    </tr>
    <tr>
        <th scope="row">5</th>
       {% if state == 0 %}
        <td>12:15-12:25, 10мин</td>
       {% elif state in (1, 2, 3, 4, 5) %}
        <td>11:40-12:20, 10мин</td>
       {% else %}
        <td>11:25-12:05,  5мин</td>
       {% endif %}
    </tr>
    <tr>
        <th scope="row">6</th>
       {% if state == 0 %}
        <td>13:05-13:45, 10мин</td>
       {% elif state in (1, 2, 3, 4, 5) %}
        <td>12:30-13:10, 10мин</td>
       {% else %}
        <td>12:15-12:55</td>
       {% endif %}
    </tr>
    <tr>
        <th scope="row">7</th>
       {% if state == 0 %}
        <td>13:55-14:35,  5мин</td>
       {% elif state in (1, 2, 3, 4, 5) %}
        <td>13:20-14:00,  5мин</td>
       {% else %}
        <td></td>
       {% endif %}
    </tr>
     <tr>
        <th scope="row">8</th>
       {% if state == 0 %}
        <td>14:40-15:20</td>
       {% elif state in (1, 2, 3, 4, 5) %}
        <td>14:05-14:45</td>
       {% else %}
        <td></td>
       {% endif %}
    </tr>
</table>
{% endblock %}
